 <div class="mobile_navigation d-lg-none">
    <div class="bottom-nav-container">
        <div class="nav-indicator" style="opacity: 0;"></div>
        <a href="/" class="nav-item">
            <span class="icon-holder">
                <i class="fa-solid fa-house"></i>
            </span>
            <span class="nav-text">Գլխավոր</span>
        </a>
        <a href="/groups" class="nav-item">
            <span class="icon-holder">
                <i class="fa-solid fa-users"></i>
            </span>
            <span class="nav-text">Խմբեր</span>
        </a>
        <a href="/tests" class="nav-item">
            <span class="icon-holder">
                <svg class="svg-inline--fa fa-clipboard-list" aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="clipboard-list" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                    data-fa-i2svg="">
                    <path fill="currentColor"
                        d="M192 0c-41.8 0-77.4 26.7-90.5 64L64 64C28.7 64 0 92.7 0 128L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64l-37.5 0C269.4 26.7 233.8 0 192 0zm0 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM72 272a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zm104-16l128 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-128 0c-8.8 0-16-7.2-16-16s7.2-16 16-16zM72 368a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zm88 0c0-8.8 7.2-16 16-16l128 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-128 0c-8.8 0-16-7.2-16-16z">
                    </path>
                </svg>
            </span>
            <span class="nav-text">Թեստեր</span>
        </a>
        <% if (typeof user !== 'undefined' && user) { %>
        <%
            let profileImageSrc = null;
            if (user.files) {
                let foundImage = user.files.find(file => file.name_used === "user_img");
                if (foundImage) {
                    profileImageSrc = `../images/users/large/${foundImage.name}.${foundImage.ext}`;
                }
            }
        %>
        <a href="/profile" class="nav-item">
            <span class="icon-holder">
                <% if (profileImageSrc) { %>
                <img src="<%- profileImageSrc %>" alt="Profile" class="rounded-circle"
                    style="width: 20px; height: 20px; object-fit: cover;" width="20" height="20">
                <% } else { %>
                <i class="fas fa-user"></i>
                <% } %>
            </span>
            <span class="nav-text">Պրոֆիլ</span>
        </a>
        <% } else { %>
        <a href="#" class="nav-item" data-bs-target="#signIn_signUp" data-bs-toggle="modal">
            <span class="icon-holder">
                <i class="fas fa-user-circle"></i>
            </span>
            <span class="nav-text">Մուտք</span>
        </a>
        <% } %>
    </div>
</div>