<form class="needs-validation" action="/api/v1/user/signIn" method="post" novalidate>
    <!-- Email -->
    <div class="mb-3">
        <label for="signin-email" class="form-label">Էլ․ փոստ</label>
        <input type="email" class="form-control" id="signin-email" name="email" placeholder="example@mail.com" required>
        <div class="invalid-feedback">Խնդրում ենք մուտքագրել վավեր էլ․ փոստ։</div>
    </div>

    <!-- Password -->
    <div class="mb-3 input_field">
        <label for="signin-password" class="form-label">Գաղտնաբառ</label>
        <input type="password" class="form-control" id="signin-password" name="password" minlength="6" required>
        <div class="invalid-feedback">Գաղտնաբառը պետք է լինի առնվազն 6 նիշ։</div>
    </div>

    <!-- Remember me -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="form-check form-switch mt-2">
            <input class="form-check-input" name="remember" type="checkbox" id="saveToggle" checked>
            <label class="form-check-label small-muted" for="saveToggle">Հիշել ինձ</label>
        </div>
        <a href="#" class="text-primary text-decoration-none small" id="forgotPasswordLink">Մոռացե՞լ եք գաղտնաբառը</a>
    </div>

    <!-- Submit -->
    <button type="submit" class="btnStyle w-100 text-white">Մուտք գործել</button> 
</form>
