.neon-pulse {
    position: relative;
    padding: 13px 20px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: all .3s ease;
    border-radius: 10px;
    z-index: 1;
    background: #000;
    border: 4px solid rgb(64, 106, 255);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
    background: #57C785;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #1822e9 0%, #6e75f9  50%, #000bd8  100%);
    overflow: visible;

    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: -4px;
        border: 2px solid rgb(64, 106, 255);
        border-radius: inherit;
        animation: pulseOut 2s ease-out infinite;
        opacity: 0;
    }

    &::after {
        animation-delay: 1s;
    }
    &:hover {
        background-size: 400px;
        background-position: right center;
    }
    &:active {
        transform: scale(0.9);
    }
}

@keyframes pulseOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}


