@font-face {
    font-family: 'Noto Sans Armenian';
    src: url('../../assets/fonts/NotoSansArmenian.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
