* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

.cropper-container div {
    transition: none;
}

.cropper-modal {
    transition: none;
    background-color: rgba(2, 2, 73, 0.722);
    opacity: .5;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d6d6d6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--bacground-gradient);
  border-radius: 10px;
  border: 2px solid #e6e6e6;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

.tooltip,
.tooltip * {
  transition: none !important;
  &::after, &::before {
        transition: none !important;
    }
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: system-ui, Roboto, sans-serif;
}

ul {
    padding: 0;
    ol {
        list-style: none;
    }
}


a {
    text-decoration: none;
    color: inherit;
}


input,
textarea,
button,
select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

table {
    border-collapse: collapse;
    width: 100%;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Noto Sans Armenian', system-ui;
    background: #fff;
    font-weight: normal;
    &.nav-open {
        overflow: hidden;
    }
}

ul li {
    list-style: none;
}

.card-radius {
    border-radius: var(--card-radius);
}
.input-radius {
    border-radius: var(--input-radius) !important;
}