.question-item {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    max-width: 1360px;
    margin: auto;
    margin-bottom: 20px;
}
.test-header-card {
    // max-width: 1200px;
    margin: auto;
}
.question-number {
    font-size: 1.1rem;
    font-weight: 600;
    color: #666;
    margin-bottom: 12px;
}
.question-text h2 {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: bold;
}
@media (max-width: 480px) {
    .question-text h2 {
        font-size: 14px;
    }
}
.question-image-wrapper {
    margin-bottom: 20px;
    position: relative;
    max-width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f9fa;
    border: 1px solid #eee;
    border-radius: 8px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: contain;
    }
}

.pagination-container {
    position: relative;
    z-index: 10;
    margin-top: 30px;
    width: 100%;
}

// Added styles to replace inline CSS
.limit-select {
    width: auto;
}

.image-modal-content {
    background: transparent;
    border: none;
    
    #modalImage {
        width: 100%;
    }
}

.result-modal-content {
    border-radius: 20px;
    
    .result-icon {
        font-size: 48px;
    }
}
