<div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
    <div class="row g-4">
        <div class="col-md-6">
            <div class="card p-4 h-100">
                <h5 class="section-title">Անվտանգություն</h5>
                <form class="form-password-update manual-submit">
                    <div class="mb-3">
                        <label class="form-label-custom">Ընթացիկ գաղտնաբառ</label>
                        <input type="password" class="form-control form-control-custom" name="passwordCurrent" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label-custom">Նոր գաղտնաբառ</label>
                        <input type="password" class="form-control form-control-custom" name="password" required
                            minlength="8">
                    </div>
                    <div class="mb-3">
                        <label class="form-label-custom">Հաստատել նոր գաղտնաբառը</label>
                        <input type="password" class="form-control form-control-custom" name="passwordConfirm" required
                            minlength="8">
                    </div>
                    <button type="submit" class="btn btn-primary text-white rounded-pill px-4 py-2">Թարմացնել
                        գաղտնաբառը</button>
                </form>
            </div>
        </div>

        <% if(user.role === 'team-member' || user.role === 'admin') { %>
        <div class="col-md-6">
            <div class="card p-4 h-100">
                <h5 class="section-title">Լրացուցիչ Տվյալներ (Admin Only)</h5>
                <!-- Extra content for team members -->
                <p class="text-muted">Այս բաժինը հասանելի է միայն ադմինիստրատորներին և թիմի անդամներին։
                </p>
            </div>
        </div>
        <% } %>
    </div>
</div>